body {
 background-image: url(giphy.gif);
 background-size: 111%;
 background-repeat: no-repeat;
 background-position: 50%;
scroll-behavior: smooth;
background-attachment: fixed;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    width: 100%;
    z-index: 1;
    
  }

  .black {
    width:75px;
  }
  
  .left{
    float: left;
  }

  .right{
    float: right;
  }
  
  li a {
    display: block;
    color: #6cb1cf;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Abel';
  }
  
  li a:hover:not(.active) {
    background-color: #ffffff;
  }

  .container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: 260px 350px 300px auto 300px auto 550px 600px 250px;
    gap: 5px;
    font-size: 20px;
    font-family: 'Open sans';
  }
  
  .card {
    text-align: center;
    grid-area: 1/1/1/4;
    padding: 60px;
    
  }

  .pic {
    width: 300px;
  }

  .name {
    font-size: 46px;
  }

  .button1 {
    width: 24%;
    border: 2px solid #174C8A;
    margin: 5px;
    background-color: #c7dee8;
  }

  .button1:hover {
    background-color: rgb(202, 221, 205);
  }

 .pic2 {
  grid-area: 2/1/2/2;
  width:300px;
  height:350px;
 }
  .about {
    grid-area: 2/ 2 / 2 / 5;
    text-align: center;
    background-color: #c7dee8;
    padding: 50px;
  }

  .edu {
    grid-area: 3/1/3/3;
    text-align: center;
    background-color: #c7dee8;
    padding: 45px;
  }

  .hat {
    width: 73px;
  }

  .exp {
    grid-area: 3/3/3/5;
    text-align: center;
    background-color: #c7dee8;
    padding: 50px;
  }

  .bag {
    width: 45px;
  }

  .fo {
    font-family: 'Open sans';
  }

  .head {
    font-size: 35px;
    color: #000000;
  }


  .section {
    font-size: 50px;
    color: #4d4d4d;
  }

  .skill {
    grid-area: 4/1/4/5;
    text-align: center;
    background-color: #c7dee8;
    padding: 45px;
  }

  .html {
    background-color: #c7dee8;
    padding: 70px;
    text-align: center;
  }

  .htcs {
    width: 150px;
  }

  .css {
    background-color: #c7dee8;
    padding: 70px;
    text-align: center;
  }


  .figma {
    background-color: #c7dee8;
    padding: 80px;
    text-align: center;
  }

  .figim {
    width: 130px;
  }

  .bootstrap {
    background-color: #c7dee8;
    padding: 35px;
    text-align: center;
  }

  .bootim {
    width: 220px;
  }


  .pro{
    grid-area: 6/1/6/5;
    text-align: center;
    background-color: #c7dee8;
    padding: 45px;
  }

  .htmlpro {
    grid-area: 7/1/7/5;
    background-color: #c7dee8;
    text-align: center;
    padding: 30px;
  }

  
  .figmapro {
    grid-area: 8/1/8/5;
    background-color: #c7dee8;
    text-align: center;
    padding: 15px;
  }

  .video {
    width: 85%;
  }

  .accounts {
    padding: 20px;
    grid-area: 9/1/9/5;
    background-color: #c7dee8;
    text-align: center;
  }


  @media screen and (max-width: 320px) {
    .container {
      display: grid;
      grid-template-columns: repeat(4, 150px);
      grid-template-rows: (9, 150px);
      font-size: 12px;
    } 
    body {
      background-image: url(giphy\ \(3\).gif);
      background-attachment: fixed;
    }

    .card {
      padding: 30px;
    }

    .pic {
      width: 250px;
      height: 250px;
    }

    .pic2 {
      width: 220px;
      height: 300px;
    }


  }
  




  
  
  
  